html{
    height: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    background-image: url('images/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    color: white;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 20vh;
}

.index {
    width: 7vw;
    padding-left: 1.1rem !important;
}

.fixHead {
    overflow-y: auto;
    height: 40vh;
    min-width: 65%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.fixHead thead th {
    position: sticky;
    top: 0;
}

.table{
    width: 100%;
    margin-bottom: 0px !important;
    border-collapse: collapse;
}

th {
    background-color:#343a40;
    border-top: none !important;
}

td.song, td.artist {
   max-width: 100px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.fixHead::-webkit-scrollbar {
    width: 1em;
}
 
.fixHead::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#343a40;
}
 
.fixHead::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

button {
    display: block !important;
    color: white !important;
    margin: 3% auto 3% auto !important;
}

a, a:hover {
    color:white;
    text-decoration: none;
}

.center {
    text-align: center;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title .text-center {
    font-size: 9vh !important;
}

.sign {
    padding: 0.2em 0.3em;
    background: darkslategray;
    border-radius: 0.4em;
}

#github {
    width: 5vh;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}