{% extends "base.html" %}

{% block title %}Intersect{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}


{% block content %}
<p class="center notice">
    Both users authorized.

<h2 class="center"><a href="/playlist" class="sign">Generate Playlist</a></h2>

<img src="/static/images/loading.svg" id="loading" />

{% endblock %}
{% block scripts %}

{{ super() }}

<script>
    $(".sign").click(function () {
        console.log("got here")
        var loading = document.getElementById("loading");
        console.log(loading);
        loading.style.display = "inline";
        return true;
    });

</script>

{% endblock %}