<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block title %}User 1{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}


{% block content %}
<h1>Spotify Intersect</h1>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/saveplaylist',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<div class='container'>
    <form>
        <a href=# id=test><button class='btn btn-default'>Save Playlist</button></a>
    </form>

</div>

<table>
    <tr>
        <th>Song</th>
        <th>Artist</th>
    </tr>
    {% for song in songs %}
    <tr>
        <td>{{song.name}}</td>
        <td>{{song.artist}}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}



</html>