{% extends "base.html" %}

{% block title %}Playlist{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}


{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type=text/javascript>
        $(function() {
          $('button').on('click', function() {
            this.disabled = true;
            this.innerHTML = "Playlist Saved in Spotify!";
            this.style.backgroundColor = "gray";
            this.style.border = "none"

            $.getJSON('/saveplaylist',
                function(data) {
              //do nothing

            });
            
            return false;
          });
        });
</script>

<h2 class="text-center">{{songs|length}} songs in common!</h2>


<div class='container'>
    <form>
        <button class='btn btn-success col-lg-4 col-lg-offset-4'><a href=# id=test>Save Playlist to
                Spotify</a></button>
    </form>

</div>




<table class="table table-dark table-hover table-fixed">
    <thead>
        <tr>
            <th class="info" scope="col">#</th>
            <th class="info" scope="col">Song</th>
            <th class="info" scope="col">Artist</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <th>{{loop.index}}</th>
            <td class="song">{{song.name}}</td>
            <td>{{song.artist}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}