{% extends "base.html" %}

{% block title %}Playlist{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}


{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/saveplaylist',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<!-- <h2 class="text-center">Congrats!</h2> -->
<h2 class="text-center">{{songs|length}} songs in common!</h2>

<!-- <div class='container'>
    <form>
        <a href=# id=test>
            <button class='btn btn-success col-lg-4 col-lg-offset-4'>Save Playlist to
                Spotify</button>
        </a>
    </form>

</div> -->

<div class='container'>
    <form>

        <button class='btn btn-success col-lg-4 col-lg-offset-4'><a href=# id=test>Save Playlist to
                Spotify</a></button>
    </form>

</div>




<table class="table table-dark table-hover table-fixed">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Song</th>
            <th scope="col">Artist</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <th>{{loop.index}}</th>
            <td>{{song.name}}</td>
            <td>{{song.artist}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}